<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="index">
<body>
<div layout:fragment="contenu">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{index}">Client</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <div class="col-12">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Modifier Client</h5>

          <!-- General Form Elements -->
          <form class="row g-3" th:action="@{EditeClient}" method="post">
            <div class="col-md-4 mb-3">
              <label for="Cnom" class="form-label">Nom</label>
              <input type="text" class="form-control" id="Cnom" name="nom" th:value="${client.nom}" >
            </div>
            <div class="col-md-4">
              <label for="Cprenom" class="form-label">Prenom</label>
              <input type="text" class="form-control" id="Cprenom" name="prenom" th:value="${client.prenom}" >
            </div>
            <div class="col-md-4">
              <label for="Ccin" class="form-label">Cin</label>
              <input type="text" class="form-control" id="Ccin" name="cin" th:value="${client.cin}">
            </div>
            <div class="col-md-6 mb-3">
              <label for="CDate" class="form-label">Date de Naissance</label>
              <input type="date" class="form-control" id="CDate" name="dateNaiss" th:value="${client.dateNaiss}">
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Sexe</label>
              <select class="form-select" aria-label="Sexe" name="sexe">
                <option value="Homme" selected>Homme</option>
                <option value="Femme">Femme</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label for="tel" class="form-label">Telephone</label>
              <input type="tel" class="form-control" id="tel" name="telephone" th:value="${client.telephone}">
            </div>
            <div class="col-md-6 mb-3">
              <label for="Cemail" class="form-label">Email</label>
              <input type="email" class="form-control" id="Cemail" name="email" th:value="${client.email}">
            </div>

            <div class="col-md-12 mb-3">
              <label for="address" class="form-label">Address</label>
              <textarea class="form-control" style="height: 100px" id="address" name="adresse" th:text="${client.adresse}" ></textarea>
            </div>
            <div class="col-md-6 mb-3">
              <label class="col-sm-2 col-form-label"></label>
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Modifier</button>
              </div>
            </div>
          </form>
          <!-- End General Form Elements -->
        </div>
      </div>
    </div>
  </div><!-- End Top Selling -->
</div>

</body>
