<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="index">
<body>
<div layout:fragment="contenu">
   <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Client</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
    <div class="col-12">
      <div class="card top-selling overflow-auto">
        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body pb-0">
          <h5 class="card-title">Client</h5>
          <p class="card-text"><a class="btn btn-sm btn-primary " th:href="@{/CreateClient}">Ajoute</a></p>

          <table class="table table-borderless">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">CIN</th>
              <th scope="col">Nom</th>
              <th scope="col">Prenom</th>
              <th scope="col">Sexe</th>
              <th scope="col">Email</th>
              <th scope="col">Telephone</th>
              <th scope="col">Date Naiss</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody th:if="${!clients.isEmpty()}">
              <tr th:each="c:${clients}" >
                <th scope="col" th:text="${c.id}"></th>
                <th scope="col" th:text="${c.cin}"></th>
                <th scope="col" th:text="${c.nom}"></th>
                <th scope="col" th:text="${c.prenom}"></th>
                <th scope="col" th:text="${c.sexe}"></th>
                <th scope="col" th:text="${c.email}"></th>
                <th scope="col" th:text="${c.telephone}"></th>
                <th scope="col" th:text="${c.dateNaiss}"></th>
                <th>
                  <div class="btn-group">
                    <a class="btn btn-success" th:href="@{/EditeClient(id=${c.id})}"><i class="bi bi-pencil-fill"></i></a>
                    <a onclick="return confirm('Etes Vous Sure ?')" class="btn btn-danger" th:href="@{/DeleteClient(id=${c.id})}"><i class="bi bi-trash-fill"></i></a>
                  </div>
                </th>
            </tbody>
          </table>

        </div>

      </div>
    </div><!-- End Top Selling -->
</div>

</body>
