<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="index">
<body>
<th scope="row"><a href="#"><img src="assets/img/product-1.jpg" alt=""></a></th>
<div layout:fragment="contenu">
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{index}">Option</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
  <div class="col-12">

    <div class="card top-selling overflow-auto">

      <div class="card-body pb-0">
        <h5 class="card-title">Option</h5>
        <p class="card-text"><a class="btn btn-sm btn-primary " th:href="@{/CreateOption}">Ajoute</a></p>

        <table class="table table-borderless">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Libelle</th>
            <th scope="col">Details</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody th:if="${!options.isEmpty()}">
            <tr th:each="o:${options}" >
              <th scope="col" th:text="${o.id}"></th>
              <th scope="col" th:text="${o.libelle}"></th>
              <th scope="col" th:text="${o.details}"></th>
              <th>
                <div class="btn-group">
                  <a class="btn btn-success" th:href="@{/EditeOption(id=${o.id})}"><i class="bi bi-pencil-fill"></i></a>
                  <a onclick="return confirm('Etes Vous Sure ?')" class="btn btn-danger" th:href="@{/DeleteOption(id=${o.id})}"><i class="bi bi-trash-fill"></i></a>
                </div>
              </th>
            </tr>
          </tbody>
        </table>
        <!--  <nav aria-label="Page navigation example">
           <ul class="pagination">
             <li class="page-item" th:each="p,status:${pages}"><a class="page-link" th:href="@{Option(page=${status.index})}" th:text="${status.index}"></a></li>
           </ul>
         </nav>
         <nav aria-label="Page navigation example">
           <ul class="pagination">
             <li class="page-item" ><a class="page-link" th:href="@{Option(size=${25})}" th:text="25"></a></li>
             <li class="page-item" ><a class="page-link" th:href="@{Option(size=${50})}" th:text="50"></a></li>
           </ul>
         </nav>-->
       </div>
     </div>
   </div><!-- End Top Selling -->
</div>
</body>
