<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="index">
<body>
  <div layout:fragment="contenu">
      <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{index}">Categorie</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>
      <div class="col-12">
        <div class="card top-selling overflow-auto">
          <a class="icon" href="#" data-bs-toggle="dropdown"></a>
          <div class="card-body pb-0">
            <h5 class="card-title">Categorie</h5>
            <p class="card-text"><a class="btn btn-sm btn-primary " th:href="@{/CreateCategorie}">Ajoute</a></p>

            <table class="table table-borderless">
              <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Logo</th>
                <th scope="col">Libelle</th>
                <th scope="col">Details</th>
                <th scope="col">Action</th>
              </tr>
              </thead>
              <tbody th:if="${!categories.isEmpty()}">
                <tr th:each="c:${categories}" >
                  <th scope="col" th:text="${c.id}"></th>
                  <th scope="row"><a href="#"><img src="assets/img/product-1.jpg" alt=""></a></th>
                  <th scope="col" th:text="${c.libelle}"></th>
                  <th scope="col" th:text="${c.details}"></th>
                  <th>
                    <div class="btn-group">
                      <a class="btn btn-success" th:href="@{/EditeCategorie(id=${c.id})}"><i class="bi bi-pencil-fill"></i></a>
                      <a onclick="return confirm('Etes Vous Sure ?')" class="btn btn-danger" th:href="@{/DeleteCategorie(id=${c.id})}"><i class="bi bi-exclamation-octagon"></i></a>
                    </div>
                  </th>
                </tr>
              </tbody>
            </table>

          </div>

        </div>
      </div><!-- End Top Selling -->
  </div>
</body>
